@import './base.css';
@import "tailwindcss";
@tailwind utilities;

#app {
  margin: 0 auto;
  font-weight: normal;
}

a{
    text-decoration: none;
}

.router-link-active {
    @apply text-white;
}

.green-gradient {
    @apply bg-gradient-to-br from-green-400/80 to-green-800;
}

.blue-purple-gradient {
    @apply bg-gradient-to-br from-blue-500 to-purple-600;
}

.orange-gradient {
    @apply bg-gradient-to-br from-orange-400 to-orange-800;
}

.pink-gradient {
    @apply bg-gradient-to-br from-pink-500 to-pink-800;
}

.red-gradient {
    @apply bg-gradient-to-br from-red-500 to-red-900;
}

@media (hover: hover) {
  a:hover {

  }
}

@media (min-width: 1024px) {

}
